*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: Arial;
  font-size: 10px;
  /* width: 100%; */
  height: 100%;
  min-height: 100vh;
}
body {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-rows: auto 1fr auto;
  word-wrap: break-word;
  background-color: #e3e3e3;
  color: #444;
}
header,
footer,
main { 
  max-width: 1200px;
  font-size: 1.6rem;
  padding: 0 3.2rem;
}
header {
  display: flex;
  min-height: 12rem;
  margin-bottom: 1.6rem;
  background: #444;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#e3e3e3;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  margin: 0;
}
header h2 {
  font-size: 2.4rem;
}
header > p {
  display: inline-flex;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5
h6 {
  font-size: 3.2rem;
}
h3 {
  display: flex;
  align-items: center;
  min-height: 9.6rem;
  border-bottom: solid 1px #e3e3e3;
}
h3 img {
  margin-right: 1.6rem;
}
a {
  color:#444;
  text-decoration: none;
}
a:visited {
  color:#444;
}
small {
  font-size: 75%;
}
.logo,
h3 img {
  width: 4.8rem;
  filter: invert(99%) sepia(0%) saturate(237%) hue-rotate(60deg) brightness(115%) contrast(78%);
}
code {
  display: block;
  margin-bottom: 3.2rem;
}
pre {
  height: 550px;
  overflow: scroll;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  padding: 1.6rem 0;
  margin: 0 1.6rem;
  margin-right: 3.2rem;
}
article {
  display: flex;
  justify-content: center;
}
article > i {
  font-style: normal;
  font-size: 3.2rem;
  display: flex;
  align-items: start;
  justify-content: center;
}
article > i > img {
  margin: 1.6rem;
  margin-left: 0;
  max-height: 6.4rem;
}
article > section > h1 > img {
  width: 4.8rem;
  margin-right: 1.6rem;
  filter: invert(26%) sepia(0%) saturate(1637%) hue-rotate(178deg) brightness(88%) contrast(85%);
}
article > section > p > a > img,
footer > p > a > img {
  width: 7.2rem;
  filter: invert(26%) sepia(0%) saturate(1637%) hue-rotate(178deg) brightness(88%) contrast(85%);
}
article > section > p > a > img:hover,
footer > p > a > img:hover {
  animation: shake 1.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
article section h1 {
  margin-top: 0;
}
article section h1,
article section p a {
  display: inline-flex;
  flex-grow: 1;
  padding:1.6rem;
  margin-right: 1.6rem;
  align-items: center;
}
article section p a {
  margin: 1.6rem 0;
  line-height: 1.8rem;
}
footer p {
  padding-left: 0;
  margin-bottom: 1.6rem;
}
article section div {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  background: #444;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color:#e3e3e3;
}
ul {
  min-width: 320px;
}
ul li {
  display: flex;
  list-style: none;
  margin: 10px 0;
}
.flash {
  border: solid 5px #fff;
  outline: solid 5px rgba(255, 0, 0,0.4);
  outline-offset: 5px;
  animation: flash 5s linear infinite;
  transition-delay: 5s;
  transition-property: outline;
  padding: 1.6rem;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
@keyframes flash {
  50% {
    opacity: 0;
    outline: none;
  }
}

@media (max-width:1135px){
  article,
  header {
    flex-direction: column;
    align-items: center;
  }
  header {
    min-height: 24rem;
    padding: 1.6rem;
    justify-content: space-around;
  }
  article > i {
    margin-left: unset;
  }
  article section div {
    margin-top: 0;
  }
  pre {
    margin-right: unset;
  }
}

pre blockquote {
  color: #3CB371;
}
pre i {
  color: 	#1E90FF;
}
pre b {
  color: #CC3333;
}